<div class="product-details-container scrollable">
  <!-- Main Product Section -->
  <div class="product-main">
    <div class="product-image-section">
      <img [src]="product.images" [alt]="product.title" class="product-image" />
    </div>
    <div class="product-details">
      <h2 class="product-title">{{ product.title }}</h2>
      <p class="product-price">
        <span>{{ product.price | currency : "INR" : "symbol" }}</span>
      </p>
      <p class="discount-banner">
        {{ product.discountPercentage }}% OFF! <br />
        Limited Time Offer
      </p>
      <div class="product-details">
        <!-- Product details here -->
      </div>

      <p class="product-category">
        <strong>Category:</strong> {{ product.category }}
      </p>
      <p class="product-description">{{ product.description }}</p>
      <div class="product-details-btn">
        <button
          (click)="addToCart(product)"
          *ngIf="isLoggedIn"
          class="add-to-cart-btn"
        >
          Add to Cart
        </button>
        <button (click)="toggleReviews()" class="review-btn">
          {{ showReviews ? "Hide Reviews" : "Show Reviews" }}
        </button>
        <button routerLink="/product" class="add-to-cart-btn">Go Back</button>
      </div>
    </div>
  </div>

  <!-- Reviews Section -->
  <div class="reviews-section" *ngIf="showReviews">
    <h4>Customer Reviews</h4>

    <div *ngFor="let review of product.reviews" class="review">
      <p>
        <strong>{{ review.reviewerName }}</strong> <br />Rating:
        <ng-container *ngFor="let star of [].constructor(5); let i = index">
          <i class="fa fa-star" [ngClass]="{ filled: i < review.rating }"></i>
        </ng-container>
      </p>
      <p>{{ review.comment }}</p>
    </div>
    <br />
    <br />
  </div>
</div>
