<div class="cart-container scrollable">
  <h2>Your Cart</h2>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-item" *ngFor="let item of cartItems; let i = index">
      <img [src]="item.thumbnail" [alt]="item.title" class="cart-image" />
      <div class="cart-details">
        <h3>{{ item.title }}</h3>
        <p>{{ item.price | currency : "INR" : "symbol" }}</p>
        <button (click)="removeItem(i)" class="remove-btn">Remove</button>
      </div>
    </div>
    <button (click)="clearCart()" class="clear-cart-btn">Clear Cart</button>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>
