.profile-container {
  width: 400px;
  margin: 20px auto;
  background: #f9f9f9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  font-family: "Roboto", Arial, sans-serif;
  transition: transform 0.3s ease;
}

.profile-container:hover {
  transform: scale(1.02);
}

.header {
  text-align: center;
  background: linear-gradient(135deg, #55e6b3, #17a271);
  color: white;
  padding: 30px 20px;
  border-radius: 15px 15px 0 0;
}

.avatar {
  position: relative;
  display: inline-block;
}

.avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  transition: transform 0.3s ease;
}

.avatar:hover img {
  transform: scaleX(1);
}

.upload-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  height: 109px;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.avatar:hover .upload-overlay {
  opacity: 1;
}
.edit-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
#fileInput {
  display: none;
}
.profile-fields {
  margin: 20px 0;
}
.field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.field mat-icon {
  font-size: 24px;
  color: #555;
  margin-right: 10px;
  flex-shrink: 0;
}

.field input,
.field textarea,
.field span {
  width: calc(100% - 40px); /* Adjust for icon width */
  padding: 5px;
  font-size: 14px;
}

.field label {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;
  width: calc(100% - 40px);
}

.mat-icon {
  vertical-align: middle;
}

input:focus,
textarea:focus {
  border-color: #1effb0;
  box-shadow: 0 0 8px rgba(30, 144, 255, 0.2);
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #55e6b3, #17a271);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: linear-gradient(135deg, #40a783, #095b3e);
  transform: translateY(-3px);
}

.error {
  color: red;
  font-size: 0.9em;
}

@media (max-width: 500px) {
  .profile-container {
    width: 90%;
    padding: 15px;
  }

  .avatar img {
    width: 100px;
    height: 100px;
  }

  .upload-overlay {
    height: 97px;
    width: 97px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}
